.indexAboutWrap {
  background: linear-gradient(103.08deg, #fff3b1 -11.12%, #fdb80e 67.29%);

  .indexAbout {
    @include max-1320;
    background: url("/images/index/Frame\ 1.png") no-repeat right/ auto 100%;

    &Txt {
      width: 58%;
      margin-right: auto;

      h2 {
        @include font-size_h2;
        color: #fff3b1;
        padding-top: 60px;
      }

      p {
        margin-top: 35px;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
      }

      .indexAboutBtn {
        margin-top: 60px;
        display: inline-block;
        background-color: white;
        border-radius: 8px;
        color: #ffba10;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        padding: 10px 60px;
        margin-bottom: 60px;

        &:hover {
          background: #fbeda0;
        }
      }
    }

    @include pc {
      background: none;

      &Txt {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

.adFeaturesWrap {
  background-color: #ffffff;

  .adFeatures {
    @include max-1320;
    padding: 65px 0px 130px;

    h2 {
      text-align: center;
      color: #363636;
      @include font-size_h2;
    }

    h3 {
      text-align: center;
      color: $primaryColorDark;
      @include font-size_h3;
    }

    .adFeaturesCountent {
      margin-top: 90px;
      @include flex-between;

      .adFeaturesCountentTxt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 520px;
        width: 30%;

        &:nth-child(1) {
          transform: translateY(-7%);
        }

        .adFeaturesCountentTxtBox {
          @include flex-between;
          padding: 5%;
          box-shadow: 0px 0.5px 8px rgba(0, 0, 0, 0.1);
          border-radius: 15px;

          h4 {
            @include font-size_h4;
          }

          p {
            font-size: 18px;
            line-height: 22px;
          }

          .adFeaturesCountentTxtBox-txt {
            flex: 2;
          }

          .adFeaturesCountentTxtBox-img {
            @include flex-center;
            flex: 1;
          }
        }
      }

      .adFeaturesCountentImg {
        padding: 0 30px;
        width: 450px;
        animation: upAndDown 3s infinite linear;
      }

      @keyframes upAndDown {
        0% {
          transform: translateY(0%);
        }

        30% {
          transform: translateY(-20px);
        }

        80% {
          transform: translateY(20px);
        }

        100% {
          transform: translateY(0%);
        }
      }

      @include pc {
        .adFeaturesCountentTxt {
          height: 450px;

          .adFeaturesCountentTxtBox {
            padding: 8%;

            h4 {
              font-size: 20px;
            }

            p {
              font-size: 16px;
              line-height: 1.2;
            }
          }
        }

        .adFeaturesCountentImg {
          width: 420px;
        }
      }

      @include mobile-767 {
        flex-direction: column;
        margin-top: 50px;

        .adFeaturesCountentTxt {
          width: 98%;
          height: auto;
          flex-direction: row;

          &:nth-child(1) {
            transform: translateY(0%);
          }

          .adFeaturesCountentTxtBox {
            width: 48%;
            margin-bottom: 30px;
            padding: 20px;
          }
        }

        .adFeaturesCountentImg {
          order: -1;
          max-width: 400px;
          width: 85%;
          margin-bottom: 20px;

          img {
            transform: translateX(5%);
          }
        }
      }

      @media screen and (max-width: 576px) {
        .adFeaturesCountentTxt {
          flex-direction: column;

          .adFeaturesCountentTxtBox {
            width: 100%;
          }
        }
      }
    }

    @include mobile-767 {
      padding-bottom: 60px;

      h2 {
        font-size: 36px;
      }

      h3 {
        font-size: 30px;
      }
    }

    @media screen and (max-width: 576px) {
      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 24px;
      }
    }
  }
}

.indexStlWrap {
  background: #ffffff;
  padding-bottom: 200px;

  .indexStl {
    @include max-1320;
    @include flex-between;
    background: $primaryColorDark;
    border-radius: 15px;
    padding: 40px 88px;

    h2 {
      @include font-size_h2;
      margin-bottom: 30px;
      color: #fff3b1;
    }

    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      margin-bottom: 35px;
    }

    a {
      display: inline-block;
      background-color: white;
      border-radius: 8px;
      color: #ffba10;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      padding: 10px 60px;

      &:hover {
        background: #fbeda0;
      }
    }

    .indexStl-txt {
      width: 70%;
    }

    .indexStl-img {
      @include flex-center;
      width: 30%;
    }

    @include mobile-767 {
      padding: 40px 20px;

      h2 {
        font-size: 36px;
      }

      .indexStl-txt {
        width: 100%;
      }

      .indexStl-img {
        display: none;
      }
    }
  }
}

.indexBottomNavWrap {
  background: #f5f7f8;

  .indexBottomNav {
    @include max-1320;
    @include flex-center;

    a {
      display: inline-block;
      padding: 25px 0;
      margin: 0px 25px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #363636;

      &:hover {
        color: $primaryColorDark;
      }

      @include mobile {
        margin: 0px 15px;
      }
    }
  }
}

.textShadow {
  text-shadow: 0px 2px 4px #ff9a00;
}

.logoWhite {
  margin-top: 70px;
  width: 310px;
}

.row {
  @include pc-1340 {
    margin-right: 0;
    margin-left: 0;
  }
}
