.color-set-one {
  background: #FDC12D;
}

.color-set-two {
  background: #E84D2A;
}

.color-set-three {
  background: #9C5DF4;
}

.color-set-four {
  background: #23C882;
}

.color-set-five {
  background: #F56F63;
}

.color-set-six {
  background: #2BB7F3;
}

.color-set-backGround-one {
  background: #FDF0CE;
}

.color-set-backGround-two {
  background: rgba(232, 77, 42, 0.2);
}

.color-set-backGround-three {
  background: rgba(156, 93, 244, 0.2);
}

.color-set-backGround-four {
  background: rgba(35, 200, 130, 0.2);
}

.color-set-backGround-five {
  background: rgba(245, 111, 99, 0.2);
}

.color-set-backGround-six {
  background: rgba(43, 183, 243, 0.2);
}

.color-set-title-one {
  background-color: #fde7ab;
}

.color-set-title-two {
  background: rgba(232, 77, 42, 0.4);
}

.color-set-title-three {
  background: rgba(156, 93, 244, 0.4);
}

.color-set-title-four {
  background: rgba(35, 200, 130, 0.4);
}

.color-set-title-five {
  background: rgba(245, 111, 99, 0.4);
}

.color-set-title-six {
  background: rgba(43, 183, 243, 0.4);
}
